body {
  background: rgb(58, 57, 57);

}

/* style Guide */

/* colors */
/* #AB2A19 */
/* #D34735 */
/* #ED6B5A */
/* #3AD886 */



.App {
  text-align: center;
  background: lightslategrey;
  position: relative;
  min-height:100vh;
}

.header {
  background: #AB2A19;
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;

}

.form {
  background: darkslategray;
  height: 80vh;
  width: 40vw;
  /* float: right; */
}

.product {
  background: lightblue;
  max-width: 400px;
  max-height: 400px;
}

.dashboard {
  /* float: left; */
  width: 50vw;

}